.container {
  background-color: white;
  width: 180vh;
  height: 60px;
  margin-left: 10vh;
  margin-top: 10vh;
  border: solid white;
  border-radius: 20px;
  padding: 10px;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgba(240, 243, 246, 1.00);
  color: rgba(28, 44, 63, 1.00);
  font-size: 20px;
  padding: 15px 35px;
  border-radius: 10px;
  margin-left: 10px;
}

button.active {
  background-color: rgba(28, 44, 63, 1.00);
  color: white;
}
